<div style="display: flex;">

    <div style="width: 350px;height: 80%;background-color: lightblue;margin-left: 50px;border-radius: 10px;display: flex;min-height: 650px;margin-right: 5px;position: fixed;" >
        <div style="width: 80%;padding: 10%;">
            <div><img src="..\assets\hq720.webp" style="width: 100%;margin-bottom: 10px;border-radius: 10px;"></div>
            <div><b style="color: white;font-size: 30px;margin-bottom: 30px;">Watch Later</b></div>
            <p><b style="color: white;font-size: 15px;">SURYA PRAKASH</b></p>
            <div style="display: flex;">
                <p style="font-size: x-small;color: gray;margin-right: 5px;margin-top: 5px;margin-bottom: 5px;">34 videos</p>
                <p style="font-size: x-small;color: gray;margin: 5px;">no video</p>
                <p style="font-size: x-small;color: gray;margin: 5px;">uploaded today</p>
            </div>
            <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
            <div style="display: flex;font-size: medium;margin-top: 10px;">
                <button  mat-flat-button style="padding-top: 5px;padding-bottom: 5px;padding-right: 30px;padding-left: 30px;border-radius: 10px;margin-right: 10px;"><mat-icon>play_arrow</mat-icon>Play all</button>
                <button  mat-flat-button style="padding-top: 5px;padding-bottom: 5px;padding-right: 30px;padding-left: 30px;border-radius: 10px;"><mat-icon>shuffle</mat-icon>shuffle</button>
            </div>
        </div>
        
    </div>

    <div style="margin-bottom: 50px;padding-left: 410px;">
        <div style="display: flex;padding-left: 50px;"><mat-icon style="margin-right: 10px;">sort</mat-icon>sort</div>
        <div style="display: flex;margin-top: 30px;" class="hov-like-gray">
            <div style="margin-right: 10px;margin-top: 7%;"><mat-icon>drag_handle</mat-icon></div>
            <div><img src="..\assets\hq720.webp" style="width: 200px;border-radius: 10px;"></div>
            <div style="width: 40px;height: 20px;background-color: black;color: white;margin-left: -50px;margin-top: 85px;font-size: smaller;padding-top: 3px;padding-left: 5px;border-radius: 7px;font-weight: bold;">23:23</div>
            <div style="display: flex;flex-direction: column;margin: 10px;">
                <div>BEST way to learn coding and ACTUALLY get interviews</div>
                <div style="display: flex;">
                    <div style="margin-right: 10px;">surya prakash</div>&#x2022;
                    <div style="margin-right: 10px;margin-left: 10px;">314k</div>&#x2022;
                    <div style="margin-left: 10px;">one month ago</div>
                </div>
            </div>
        </div>
        
        <div style="display: flex;margin-top: 30px;" class="hov-like-gray">
            <div style="margin-right: 10px;margin-top: 7%;"><mat-icon>drag_handle</mat-icon></div>
            <div><img src="..\assets\hq720.webp" style="width: 200px;border-radius: 10px;"></div>
            <div style="width: 40px;height: 20px;background-color: black;color: white;margin-left: -50px;margin-top: 85px;font-size: smaller;padding-top: 3px;padding-left: 5px;border-radius: 7px;font-weight: bold;">23:23</div>
            <div style="display: flex;flex-direction: column;margin: 10px;">
                <div>BEST way to learn coding and ACTUALLY get interviews</div>
                <div style="display: flex;">
                    <div style="margin-right: 10px;">surya prakash</div>&#x2022;
                    <div style="margin-right: 10px;margin-left: 10px;">314k</div>&#x2022;
                    <div style="margin-left: 10px;">one month ago</div>
                </div>
            </div>
        </div>
        <div style="display: flex;margin-top: 30px;" class="hov-like-gray">
            <div style="margin-right: 10px;margin-top: 7%;"><mat-icon>drag_handle</mat-icon></div>
            <div><img src="..\assets\hq720.webp" style="width: 200px;border-radius: 10px;"></div>
            <div style="width: 40px;height: 20px;background-color: black;color: white;margin-left: -50px;margin-top: 85px;font-size: smaller;padding-top: 3px;padding-left: 5px;border-radius: 7px;font-weight: bold;">23:23</div>
            <div style="display: flex;flex-direction: column;margin: 10px;">
                <div>BEST way to learn coding and ACTUALLY get interviews</div>
                <div style="display: flex;">
                    <div style="margin-right: 10px;">surya prakash</div>&#x2022;
                    <div style="margin-right: 10px;margin-left: 10px;">314k</div>&#x2022;
                    <div style="margin-left: 10px;">one month ago</div>
                </div>
            </div>
        </div>
        <div style="display: flex;margin-top: 30px;" class="hov-like-gray">
            <div style="margin-right: 10px;margin-top: 7%;"><mat-icon>drag_handle</mat-icon></div>
            <div><img src="..\assets\hq720.webp" style="width: 200px;border-radius: 10px;"></div>
            <div style="width: 40px;height: 20px;background-color: black;color: white;margin-left: -50px;margin-top: 85px;font-size: smaller;padding-top: 3px;padding-left: 5px;border-radius: 7px;font-weight: bold;">23:23</div>
            <div style="display: flex;flex-direction: column;margin: 10px;">
                <div>BEST way to learn coding and ACTUALLY get interviews</div>
                <div style="display: flex;">
                    <div style="margin-right: 10px;">surya prakash</div>&#x2022;
                    <div style="margin-right: 10px;margin-left: 10px;">314k</div>&#x2022;
                    <div style="margin-left: 10px;">one month ago</div>
                </div>
            </div>
        </div>
        <div style="display: flex;margin-top: 30px;" class="hov-like-gray">
            <div style="margin-right: 10px;margin-top: 7%;"><mat-icon>drag_handle</mat-icon></div>
            <div><img src="..\assets\hq720.webp" style="width: 200px;border-radius: 10px;"></div>
            <div style="width: 40px;height: 20px;background-color: black;color: white;margin-left: -50px;margin-top: 85px;font-size: smaller;padding-top: 3px;padding-left: 5px;border-radius: 7px;font-weight: bold;">23:23</div>
            <div style="display: flex;flex-direction: column;margin: 10px;">
                <div>BEST way to learn coding and ACTUALLY get interviews</div>
                <div style="display: flex;">
                    <div style="margin-right: 10px;">surya prakash</div>&#x2022;
                    <div style="margin-right: 10px;margin-left: 10px;">314k</div>&#x2022;
                    <div style="margin-left: 10px;">one month ago</div>
                </div>
            </div>
        </div>
        <div style="display: flex;margin-top: 30px;" class="hov-like-gray">
            <div style="margin-right: 10px;margin-top: 7%;"><mat-icon>drag_handle</mat-icon></div>
            <div><img src="..\assets\hq720.webp" style="width: 200px;border-radius: 10px;"></div>
            <div style="width: 40px;height: 20px;background-color: black;color: white;margin-left: -50px;margin-top: 85px;font-size: smaller;padding-top: 3px;padding-left: 5px;border-radius: 7px;font-weight: bold;">23:23</div>
            <div style="display: flex;flex-direction: column;margin: 10px;">
                <div>BEST way to learn coding and ACTUALLY get interviews</div>
                <div style="display: flex;">
                    <div style="margin-right: 10px;">surya prakash</div>&#x2022;
                    <div style="margin-right: 10px;margin-left: 10px;">314k</div>&#x2022;
                    <div style="margin-left: 10px;">one month ago</div>
                </div>
            </div>
        </div>
        <div style="display: flex;margin-top: 30px;" class="hov-like-gray">
            <div style="margin-right: 10px;margin-top: 7%;"><mat-icon>drag_handle</mat-icon></div>
            <div><img src="..\assets\hq720.webp" style="width: 200px;border-radius: 10px;"></div>
            <div style="width: 40px;height: 20px;background-color: black;color: white;margin-left: -50px;margin-top: 85px;font-size: smaller;padding-top: 3px;padding-left: 5px;border-radius: 7px;font-weight: bold;">23:23</div>
            <div style="display: flex;flex-direction: column;margin: 10px;">
                <div>BEST way to learn coding and ACTUALLY get interviews</div>
                <div style="display: flex;">
                    <div style="margin-right: 10px;">surya prakash</div>&#x2022;
                    <div style="margin-right: 10px;margin-left: 10px;">314k</div>&#x2022;
                    <div style="margin-left: 10px;">one month ago</div>
                </div>
            </div>
        </div>
    </div>


</div>