<div style="display: flex;width: 750px;grid-template-columns:max-content;">
    <div style="margin-left: 80px;width: 700px;display: flex;flex-direction: column;margin-right: 50px;">
        <div style="margin-top: 30px;"><b>Watch history</b></div>

        <div style="margin-top: 30px;"><b>Today</b></div>

        <div style="margin-top: 30px;"><mat-icon >whatshot</mat-icon><b style="margin-left: 10px;">Shorts</b></div>

        <div style="margin-top: 30px;display: flex;">
            <div style="margin: 15px;">
                <div><img src="..\assets\shortsimg.webp" style="width: 200px;height: 300px;border-radius: 10px;"></div>
                <div>
                    <div>Respect #123</div>
                    <div>1M Views</div>
                </div>
            </div>
            <div style="margin: 15px;">
                <div><img src="..\assets\shortsimg.webp" style="width: 200px;height: 300px;border-radius: 10px;"></div>
                <div>
                    <div>Respect #123</div>
                    <div>1M Views</div>
                </div>
            </div>
            <div style="margin: 15px;">
                <div><img src="..\assets\shortsimg.webp" style="width: 200px;height: 300px;border-radius: 10px;"></div>
                <div>
                    <div>Respect #123</div>
                    <div>1M Views</div>
                </div>
            </div>
        </div>

        
    </div>
        
    
        <div style="display: flex;height: 500px;margin-top: 20px;">
            <div style="width: 400px;justify-content: stretch;margin-left: 50px;display: grid;">
                <div style="display: flex;justify-content: stretch;">
                    <button style="border-top: 0px;border-left: 0px;border-right: 0px; background-color: #fafafa;height: 30px;"><mat-icon>search</mat-icon></button>
                    <input type="search" style="border-top: none;border-right: none;border-left: none;width: 300px;height: 30px;background-color: #fafafa;" value="search watch history">
                </div>
                <div style="margin-top: 15px;">History type</div>
                <button style="width: 100%;border-top: 0px;border-right: 10px;border-left: 10px;height: 0px;"></button>
                <div style="display: flex;justify-content: space-between;vertical-align: middle;">
                    <div style="margin-top: 15px;">watch history</div>
                        <mat-radio-group style="margin-top: 5px;">
                        <mat-radio-button value="none"></mat-radio-button>
                    </mat-radio-group>
                </div>
                <button style="width: 100%;border-top: 0px;border-right: 10px;border-left: 10px;height: 0px;"></button>
                <div style="display: flex;justify-content: space-between;vertical-align: middle;">
                    <div style="margin-top: 15px;">community</div>
                        <mat-radio-group style="margin-top: 5px;">
                        <mat-radio-button value="none"></mat-radio-button>
                    </mat-radio-group>
                </div>
                <button style="width: 100%;border-top: 0px;border-right: 10px;border-left: 10px;height: 0px;"></button>
                <div style="display: flex;margin-top: 20px;" >
                    <mat-icon>delete_outline</mat-icon>
                    <div  style="margin-left: 10px;">clear watch history</div>
                </div>
                <div style="display: flex;margin-top: 20px;" >
                    <mat-icon>pause_circle</mat-icon>
                    <div style="margin-left: 10px;">pause watch history</div>
                </div>
                <div style="display: flex;margin-top: 20px;" >
                    <mat-icon>settings</mat-icon>
                    <div style="margin-left: 10px;">Manage all history</div>
                </div>
                <div style="margin: 10px;margin-left: 20px;">Manage and watch History</div>
                <div style="margin: 10px;margin-left: 20px;">command</div>
                <div style="margin: 10px;margin-left: 20px;">Live chat</div>
        
            </div>
        </div>
    </div>






<div style="display: flex;margin-left: 80px;width: 700px;margin-top: 50px;">

    <div style="margin-bottom: 50px;">
        <div style="display: flex; margin-bottom: 20px;">
            <img src="..\assets\hq720.webp" style="border-radius: 10px;width: 100%;max-width: 300px;">
            <div style="margin-left: 10px;display: grid;">
                <div>Russia-வின் Su-30SM க்கு Indian Missile? இப்படிக்கு Armenia | No.2 வை தூக்கிய North Korea</div>
                <div style="color: gray;">Oneindia Tamil &#10004;</div>
                <div style="color: gray;">Russia-வின் Su-30SM க்கு Indian Missile? இப்படிக்கு Armenia | No.2 வை தூக்கிய North Korea</div>
            </div>
        </div>
    
        <div style="display: flex;margin-top: 10px;margin-bottom: 20px;">
            <img src="..\assets\hq720.webp" style="border-radius: 10px;width: 100%;max-width: 300px;">
            <div style="margin-left: 10px;display: grid;">
                <div>Russia-வின் Su-30SM க்கு Indian Missile? இப்படிக்கு Armenia | No.2 வை தூக்கிய North Korea</div>
                <div style="color: gray;">Oneindia Tamil &#10004;</div>
                <div style="color: gray;">Russia-வின் Su-30SM க்கு Indian Missile? இப்படிக்கு Armenia | No.2 வை தூக்கிய North Korea</div>
            </div>
        </div>
    
        <div style="display: flex;margin-top: 10px;margin-bottom: 20px;">
            <img src="..\assets\hq720.webp" style="border-radius: 10px;width: 100%;max-width: 300px;">
            <div style="margin-left: 10px;display: grid;">
                <div>Russia-வின் Su-30SM க்கு Indian Missile? இப்படிக்கு Armenia | No.2 வை தூக்கிய North Korea</div>
                <div style="color: gray;">Oneindia Tamil &#10004;</div>
                <div style="color: gray;">Russia-வின் Su-30SM க்கு Indian Missile? இப்படிக்கு Armenia | No.2 வை தூக்கிய North Korea</div>
            </div>
        </div>
    
        <div style="display: flex;margin-top: 10px;margin-bottom: 20px;">
            <img src="..\assets\hq720.webp" style="border-radius: 10px;width: 100%;max-width: 300px;">
            <div style="margin-left: 10px;display: grid;">
                <div>Russia-வின் Su-30SM க்கு Indian Missile? இப்படிக்கு Armenia | No.2 வை தூக்கிய North Korea</div>
                <div style="color: gray;">Oneindia Tamil &#10004;</div>
                <div style="color: gray;">Russia-வின் Su-30SM க்கு Indian Missile? இப்படிக்கு Armenia | No.2 வை தூக்கிய North Korea</div>
            </div>
        </div>
           
    </div>
</div>





    


