<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <div style="display: grid;grid-template-rows: 1fr;align-items: center;overflow: none;">
        
        <div style="display: flex;justify-content: center;border-radius: 15px;">
            <vg-player style="width: 100%;" >
                
                <video id="Singlevideo"  style="margin-left: 35%;margin-top: 2%;margin-bottom: 1%; max-height: 650px;margin-right: 20px;" controls autoplay>
                    <source src="assets/video.mp4" type="video/mp4" > 
                </video>
  
                <button mat-stroked-button style="color: black;background-color: white;margin-left: -120px;margin-top: 3%;border-radius: 20px;font-weight: 700;font-size:small;">subscribe</button>
                <div style="display: inline;margin-top: 160px;margin-left: 20px;">
                    
                    <div style="color: black;" class="llikeit"><button mat-icon-button style="background-color: gainsboro;"><mat-icon>thumb_up</mat-icon> </button>
                        <div style="background-color: white;" class="i_like_it" >I Like It</div>
                    </div>
                    <div style="display: flex;justify-content: space-around;margin-top: -26px;margin-left: -17px;">
                        <div style="color: white;text-align: center;">1M</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div style="margin-top: 15px;color: black;" class="llikeit"><button mat-icon-button style="background-color: gainsboro;"><mat-icon>thumb_down</mat-icon> </button>
                        <div style="background-color: white;" class="i_like_it" >I Like It</div>
                    </div>
                    <div style="display: flex;justify-content: space-around;margin-top: -26px;margin-left: -17px;">
                        <div style="color: white;text-align: center;">Dislike</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div style="margin-top: 15px;color: black;" class="llikeit"><button mat-icon-button style="background-color: gainsboro;"><mat-icon>message</mat-icon> </button>
                        <div style="background-color: white;" class="i_like_it" >I dislike It</div>
                    </div>
                    <div style="display: flex;justify-content: space-around;margin-top: -26px;margin-left: -17px;">
                        <div style="color: white;text-align: center;">11k</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div style="margin-top: 15px;color: black;" class="llikeit"><button mat-icon-button style="background-color: gainsboro;"><mat-icon>share</mat-icon> </button>
                        <div style="background-color: white;" class="i_like_it" >command</div>
                    </div>
                    <div style="display: flex;justify-content: space-around;margin-top: -26px;margin-left: -17px;">
                        <div style="color: white;text-align: center;">Share</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div style="margin-top: 15px;color: black;" class="llikeit"><button mat-icon-button style="background-color: gainsboro;"><mat-icon>more_horiz</mat-icon> </button>
                        
                    </div>
                    
                    <div style="background-color: black;margin: 25px;" class="i_like_it" ><button mat-mini-fab><img src="..\assets\channels4_profile.jpg" style="width: 50px;height: 50px;border-radius: 25px;"></button></div>
                    
                    <div style="display: flex;color: white;width: 300px;margin-left: -110%;margin-top: -50%;font-size: medium;font-weight: 500;">2022 - Top 10 Google Search🥳(INDIA)👏</div>
                </div>
            </vg-player>
        </div>

        <div style="display: flex;justify-content: center;border-radius: 15px;">
            <vg-player style="width: 100%;" >
                
                <video id="Singlevideo"  style="margin-left: 35%;margin-top: 2%;margin-bottom: 1%; max-height: 650px;margin-right: 20px;" controls >
                    <source src="assets/video.mp4" type="video/mp4" > 
                </video>
  
                <button mat-stroked-button style="color: black;background-color: white;margin-left: -120px;margin-top: 3%;border-radius: 20px;font-weight: 700;font-size:small;">subscribe</button>
                <div style="display: inline;margin-top: 160px;margin-left: 20px;">
                    
                    <div style="color: black;" class="llikeit"><button mat-icon-button style="background-color: gainsboro;"><mat-icon>thumb_up</mat-icon> </button>
                        <div style="background-color: white;" class="i_like_it" >I Like It</div>
                    </div>
                    <div style="display: flex;justify-content: space-around;margin-top: -26px;margin-left: -17px;">
                        <div style="color: white;text-align: center;">1M</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div style="margin-top: 15px;color: black;" class="llikeit"><button mat-icon-button style="background-color: gainsboro;"><mat-icon>thumb_down</mat-icon> </button>
                        <div style="background-color: white;" class="i_like_it" >I Like It</div>
                    </div>
                    <div style="display: flex;justify-content: space-around;margin-top: -26px;margin-left: -17px;">
                        <div style="color: white;text-align: center;">1M</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div style="margin-top: 15px;color: black;" class="llikeit"><button mat-icon-button style="background-color: gainsboro;"><mat-icon>message</mat-icon> </button>
                        <div style="background-color: white;" class="i_like_it" >I dislike It</div>
                    </div>
                    <div style="display: flex;justify-content: space-around;margin-top: -26px;margin-left: -17px;">
                        <div style="color: white;text-align: center;">1M</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div style="margin-top: 15px;color: black;" class="llikeit"><button mat-icon-button style="background-color: gainsboro;"><mat-icon>share</mat-icon> </button>
                        <div style="background-color: white;" class="i_like_it" >command</div>
                    </div>
                    <div style="display: flex;justify-content: space-around;margin-top: -26px;margin-left: -17px;">
                        <div style="color: white;text-align: center;">1M</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div style="margin-top: 15px;color: black;" class="llikeit"><button mat-icon-button style="background-color: gainsboro;"><mat-icon>more_horiz</mat-icon> </button>
                        <div style="background-color: white;" class="i_like_it" >share</div>
                    </div>
                    <div style="display: flex;justify-content: space-around;margin-top: -26px;margin-left: -17px;">
                        <div style="color: white;text-align: center;">1M</div>
                        <div></div>
                        <div></div>
                    </div>
                    
                    <div style="background-color: black;margin: 25px;" class="i_like_it" ><button mat-mini-fab><img src="..\assets\channels4_profile.jpg" style="width: 50px;height: 50px;border-radius: 25px;"></button></div>
                    
                    <div style="display: flex;color: white;width: 300px;margin-left: -110%;margin-top: -50%;font-size: medium;font-weight: 500;">2022 - Top 10 Google Search🥳(INDIA)👏</div>
                </div>
            </vg-player>
        </div>

        <div style="display: flex;justify-content: center;border-radius: 15px;">
            <vg-player style="width: 100%;" >
                
                <video id="Singlevideo"  style="margin-left: 35%;margin-top: 2%;margin-bottom: 1%; max-height: 650px;margin-right: 20px;" controls >
                    <source src="assets/video.mp4" type="video/mp4" > 
                </video>
  
                <button mat-stroked-button style="color: black;background-color: white;margin-left: -120px;margin-top: 3%;border-radius: 20px;font-weight: 700;font-size:small;">subscribe</button>
                <div style="display: inline;margin-top: 160px;margin-left: 20px;">
                    
                    <div style="color: black;" class="llikeit"><button mat-icon-button style="background-color: gainsboro;"><mat-icon>thumb_up</mat-icon> </button>
                        <div style="background-color: white;" class="i_like_it" >I Like It</div>
                    </div>
                    <div style="display: flex;justify-content: space-around;margin-top: -26px;margin-left: -17px;">
                        <div style="color: white;text-align: center;">1M</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div style="margin-top: 15px;color: black;" class="llikeit"><button mat-icon-button style="background-color: gainsboro;"><mat-icon>thumb_down</mat-icon> </button>
                        <div style="background-color: white;" class="i_like_it" >I Like It</div>
                    </div>
                    <div style="display: flex;justify-content: space-around;margin-top: -26px;margin-left: -17px;">
                        <div style="color: white;text-align: center;">1M</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div style="margin-top: 15px;color: black;" class="llikeit"><button mat-icon-button style="background-color: gainsboro;"><mat-icon>message</mat-icon> </button>
                        <div style="background-color: white;" class="i_like_it" >I dislike It</div>
                    </div>
                    <div style="display: flex;justify-content: space-around;margin-top: -26px;margin-left: -17px;">
                        <div style="color: white;text-align: center;">1M</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div style="margin-top: 15px;color: black;" class="llikeit"><button mat-icon-button style="background-color: gainsboro;"><mat-icon>share</mat-icon> </button>
                        <div style="background-color: white;" class="i_like_it" >command</div>
                    </div>
                    <div style="display: flex;justify-content: space-around;margin-top: -26px;margin-left: -17px;">
                        <div style="color: white;text-align: center;">1M</div>
                        <div></div>
                        <div></div>
                    </div>
                    <div style="margin-top: 15px;color: black;" class="llikeit"><button mat-icon-button style="background-color: gainsboro;"><mat-icon>more_horiz</mat-icon> </button>
                        <div style="background-color: white;" class="i_like_it" >share</div>
                    </div>
                    <div style="display: flex;justify-content: space-around;margin-top: -26px;margin-left: -17px;">
                        <div style="color: white;text-align: center;">1M</div>
                        <div></div>
                        <div></div>
                    </div>
                    
                    <div style="background-color: black;margin: 25px;" class="i_like_it" ><button mat-mini-fab><img src="..\assets\channels4_profile.jpg" style="width: 50px;height: 50px;border-radius: 25px;"></button></div>
                    
                    <div style="display: flex;color: white;width: 300px;margin-left: -110%;margin-top: -50%;font-size: medium;font-weight: 500;">2022 - Top 10 Google Search🥳(INDIA)👏</div>
                </div>
            </vg-player>
        </div>
    
       
    </div>
    
       
    
</body>
</html>
