<div style="display: flex;padding-left: 10%;padding-top: 1%;padding-bottom: 20px;background-color:#efefef;margin-top: -15px;">
    <div style="display: flex;align-items: center;">
        <img src="..\assets\channels4_profile_music.jpg" style="width: 80px;border-radius: 40px;">
        <div style="display: flex;flex-direction: column;margin-left: 20px;">
            <div>Music</div>
            <div style="margin-top: 10px;color: gray;">112M subscribers</div>
        </div>
    </div>
    <div style="margin-left: 50%;display: flex;align-items: center;">
        <div style="background-color: black;color: white;border-radius: 20px;padding: 10px;">subscription</div>
    </div>
</div>
<div>
    <mat-tab-group>
        <mat-tab label="Home">
            <div style="display: flex;flex-direction: column;margin-bottom: 50px;">
                <p style="margin-left: 10%;font-size: large;margin-top: 20px;"><b>This Year in Music</b></p>
                
                <div style="display: flex;margin-left: 10%;margin-top: 10px;column-gap: 10px;">

                    <div style="display: flex;height: 100px;width: 350px;background-color: #efefef;">
                        <div><img src="..\assets\music_thamnail.png" style="width: 100px;border-radius: 5px;"></div>
                        <div style="margin-left: 10px;">
                            <div style="margin-bottom: 5px;">Hits of 2022</div>
                            <div style="margin-bottom: 10px;color: gray;">Experience the sound of 2022</div>
                            <div style="color: gray;">tracks</div>
                        </div>
                    </div>

                    <div style="display: flex;height: 100px;width: 350px;background-color: #efefef;">
                        <div><img src="..\assets\music_thamnail.png" style="width: 100px;border-radius: 5px;"></div>
                        <div style="margin-left: 10px;">
                            <div style="margin-bottom: 5px;">Hits of 2022</div>
                            <div style="margin-bottom: 10px;color: gray;">Experience the sound of 2022</div>
                            <div style="color: gray;">tracks</div>
                        </div>
                    </div>

                    <div style="display: flex;height: 100px;width: 350px;background-color: #efefef;">
                        <div><img src="..\assets\music_thamnail.png" style="width: 100px;border-radius: 5px;"></div>
                        <div style="margin-left: 10px;">
                            <div style="margin-bottom: 5px;">Hits of 2022</div>
                            <div style="margin-bottom: 10px;color: gray;">Experience the sound of 2022</div>
                            <div style="color: gray;">tracks</div>
                        </div>
                    </div>
                </div>

                <div>
                    <button style="border-left: 0px;border-right: 0px;border-top: 0px;background-color: transparent;width: 80%;margin-left: 10%;border-color:#efefef;margin-top: 20px;margin-bottom: 10px;"></button>
                </div>

                <p style="margin-left: 10%;font-size: large;margin-top: 20px;"><b>India's Biggest Hits</b></p>

                <div style="display: flex;margin-left: 10%;margin-top: 20px;column-gap: 10px;">

                    <div style="display: flex;height: 100px;width: 350px;background-color: #efefef;">
                        <div><img src="..\assets\music_thamnail.png" style="width: 100px;border-radius: 5px;"></div>
                        <div style="margin-left: 10px;">
                            <div style="margin-bottom: 5px;">Hits of 2022</div>
                            <div style="margin-bottom: 10px;color: gray;">Experience the sound of 2022</div>
                            <div style="color: gray;">tracks</div>
                        </div>
                    </div>

                    <div style="display: flex;height: 100px;width: 350px;background-color: #efefef;">
                        <div><img src="..\assets\music_thamnail.png" style="width: 100px;border-radius: 5px;"></div>
                        <div style="margin-left: 10px;">
                            <div style="margin-bottom: 5px;">Hits of 2022</div>
                            <div style="margin-bottom: 10px;color: gray;">Experience the sound of 2022</div>
                            <div style="color: gray;">tracks</div>
                        </div>
                    </div>

                    <div style="display: flex;height: 100px;width: 350px;background-color: #efefef;">
                        <div><img src="..\assets\music_thamnail.png" style="width: 100px;border-radius: 5px;"></div>
                        <div style="margin-left: 10px;">
                            <div style="margin-bottom: 5px;">Hits of 2022</div>
                            <div style="margin-bottom: 10px;color: gray;">Experience the sound of 2022</div>
                            <div style="color: gray;">tracks</div>
                        </div>
                    </div>
                </div>

                <div>
                    <button style="border-left: 0px;border-right: 0px;border-top: 0px;background-color: transparent;width: 80%;margin-left: 10%;border-color:#efefef;margin-top: 20px;margin-bottom: 10px;"></button>
                </div>

                <p style="margin-left: 10%;font-size: large;margin-top: 20px;"><b>Charts</b></p>

                <div style="display: flex;margin-left: 10%;margin-top: 20px;column-gap: 10px;">

                    <div style="display: flex;height: 100px;width: 350px;background-color: #efefef;">
                        <div><img src="..\assets\music_thamnail.png" style="width: 100px;border-radius: 5px;"></div>
                        <div style="margin-left: 10px;">
                            <div style="margin-bottom: 5px;">Hits of 2022</div>
                            <div style="margin-bottom: 10px;color: gray;">Experience the sound of 2022</div>
                            <div style="color: gray;">tracks</div>
                        </div>
                    </div>

                    <div style="display: flex;height: 100px;width: 350px;background-color: #efefef;">
                        <div><img src="..\assets\music_thamnail.png" style="width: 100px;border-radius: 5px;"></div>
                        <div style="margin-left: 10px;">
                            <div style="margin-bottom: 5px;">Hits of 2022</div>
                            <div style="margin-bottom: 10px;color: gray;">Experience the sound of 2022</div>
                            <div style="color: gray;">tracks</div>
                        </div>
                    </div>

                    <div style="display: flex;height: 100px;width: 350px;background-color: #efefef;">
                        <div><img src="..\assets\music_thamnail.png" style="width: 100px;border-radius: 5px;"></div>
                        <div style="margin-left: 10px;">
                            <div style="margin-bottom: 5px;">Hits of 2022</div>
                            <div style="margin-bottom: 10px;color: gray;">Experience the sound of 2022</div>
                            <div style="color: gray;">tracks</div>
                        </div>
                    </div>
                </div>

                <div>
                    <button style="border-left: 0px;border-right: 0px;border-top: 0px;background-color: transparent;width: 80%;margin-left: 10%;border-color:#efefef;margin-top: 20px;margin-bottom: 10px;"></button>
                </div>

                <p style="margin-left: 10%;font-size: large;margin-top: 20px;"><b>Discover New Music</b></p>

                <div style="display: flex;margin-left: 10%;margin-top: 20px;column-gap: 10px;">

                    <div style="display: flex;height: 100px;width: 350px;background-color: #efefef;">
                        <div><img src="..\assets\music_thamnail.png" style="width: 100px;border-radius: 5px;"></div>
                        <div style="margin-left: 10px;">
                            <div style="margin-bottom: 5px;">Hits of 2022</div>
                            <div style="margin-bottom: 10px;color: gray;">Experience the sound of 2022</div>
                            <div style="color: gray;">tracks</div>
                        </div>
                    </div>

                    <div style="display: flex;height: 100px;width: 350px;background-color: #efefef;">
                        <div><img src="..\assets\music_thamnail.png" style="width: 100px;border-radius: 5px;"></div>
                        <div style="margin-left: 10px;">
                            <div style="margin-bottom: 5px;">Hits of 2022</div>
                            <div style="margin-bottom: 10px;color: gray;">Experience the sound of 2022</div>
                            <div style="color: gray;">tracks</div>
                        </div>
                    </div>

                    <div style="display: flex;height: 100px;width: 350px;background-color: #efefef;">
                        <div><img src="..\assets\music_thamnail.png" style="width: 100px;border-radius: 5px;"></div>
                        <div style="margin-left: 10px;">
                            <div style="margin-bottom: 5px;">Hits of 2022</div>
                            <div style="margin-bottom: 10px;color: gray;">Experience the sound of 2022</div>
                            <div style="color: gray;">tracks</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </mat-tab>
        <mat-tab label="community">

            <div style="width: 63%;margin-left: 10%;margin-top: 20px; height: 800px;border-style: groove;border-color: #efefef;border-radius: 10px;overflow: hidden;">
                <div style="padding: 10px;display: grid;">
                    <div style="display: grid;">
                        <div style="display: flex;">
                            <div><img src="..\assets\channels4_profile_music.jpg" style="width: 40px;border-radius: 30px;"></div>
                            <div style="display: flex;">
                                <div style="margin-left: 20px;display: inline;">Music</div>
                                <div style="color: gainsboro;font-size: x-small;margin-left: 10px;margin-top: 5px;">3 days ago</div>
                            </div>
                        </div>
                        <div style="display: flex;margin-left: 60px;margin-top: -20px;">
                            <span>"Die For You” is setting the mood on #YouTubeShorts 💗 join this trend by pairing this track with a Short showing a phase that made you into who you are today </span>
                        </div>
                        <div style="padding-top: 20px;padding-left: 10%;">
                            <img src="..\assets\music_community.jpg" style="width: 85%;">
                        </div>
                        <div style="display: flex;margin-left: 75px;margin-top: 10px;">
                            <button mat-icon-button><mat-icon>thumb_up</mat-icon></button><div style="margin-top: 15px;">3.24k</div>
                            <button mat-icon-button><mat-icon>thumb_down</mat-icon></button>
                        </div>
                    </div>
                </div>
            </div>
           
        </mat-tab>
        <mat-tab label="About">
            <div style="display: flex;">
                <div style="margin-left: 10%;margin-top: 50px;width: 50%;">
                    <div ><b>Description</b></div>
                    <div style="margin-top: 20px;">Visit the YouTube Music Channel to find today's top talent, featured artists and playlists. Subscribe to see the latest in the music world.<br>
                        This channel was generated automatically by YouTube's video discovery system.
                    </div>
                    <button style="border-left: 0px;border-right: 0px;border-top: 0px;background-color: transparent;width: 100%;border-color:#efefef;margin-top: 20px;margin-bottom: 10px;"></button>
                    <div>Links</div>
                    <div style="color: blue;margin-top: 30px;">
                        Auto-generated by YouTube
                    </div>
                    <button style="border-left: 0px;border-right: 0px;border-top: 0px;background-color: transparent;width: 100%;border-color:#efefef;margin-top: 50px;margin-bottom: 10px;"></button>
                </div>
                <div style="width: 20%;margin-left: 10%;margin-top: 50px;">
                    <div>Stats</div>
                    <button style="border-left: 0px;border-right: 0px;border-top: 0px;background-color: transparent;width: 80%;border-color:#efefef;margin-top: 20px;margin-bottom: 10px;"></button>
                    <div>Joined 24 Sept 2013</div>
                    <button style="border-left: 0px;border-right: 0px;border-top: 0px;background-color: transparent;width: 80%;border-color:#efefef;margin-top: 20px;margin-bottom: 10px;"></button>
                    <div>
                        <button mat-icon-button><mat-icon>flag</mat-icon></button>
                    </div>
                </div>
            </div>
            
        </mat-tab>
    </mat-tab-group>
</div>